@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
.why-choose-us {
   
    padding: 40px 0;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
 
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
  }
  
  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .benefit {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  .benefit:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  }
  
  .benefit i {
    font-size: 36px;
    color: #337ab7;
    margin-bottom: 10px;
    animation: bounce 2s infinite; 
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .benefit h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .benefit p {
    font-size: 16px;
    color: #666;
  }
  
  /* Responsive design */
  
  @media (max-width: 768px) {
    .benefits-grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .benefit {
      padding: 15px;
    }
    .benefit i {
      font-size: 24px;
    }
    .benefit h3 {
      font-size: 16px;
    }
    .benefit p {
      font-size: 14px;
    }
  }

  